<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Fight bots
    RewriteCond %{HTTP_USER_AGENT} ^.*(semrushbot|MJ12bot).*$ [NC]
    RewriteRule ^.*.* http://www.google.com/ [L]
#    RewriteRule .* - [F,L]


    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On

    #1 Year

	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresByType application/x-javascript "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType text/javascript "access plus 1 year"
	ExpiresByType text/ecmascript "access plus 1 year"
	ExpiresByType text/css "access plus 1 year"

	#7 Days
	ExpiresByType image/gif A604800
	ExpiresByType image/png A604800
	ExpiresByType image/jpeg A604800
	ExpiresByType text/plain A604800
	ExpiresByType application/x-shockwave-flash A604800
	ExpiresByType video/x-flv A604800
	ExpiresByType application/pdf A604800

	#ExpiresByType text/html A900
</IfModule>
